body,p,li,ul,div,img,h1,h2,h3,h4,h5,h6,input{margin:0;padding:0;border:none;}
body{
	font-family:'\5FAE\8F6F\96C5\9ED1','\9ED1\4F53','\82F9\679C\4E3D\4E2D\9ED1',Arial;
	font-size:16px;
}
em{font-style:normal;}

/*body{background:#222;}*/

/* 头部部分  */
.top{
	width:1290px;
	height:35px;
	background:#ebebeb;
	margin:auto;
	color:#fff;
}
.top-one{
	float:left;
	width:300px;
	height:20px;
	background:#ebebeb;
	margin-top:8px;
	margin-left:87px;
	word-spacing:45px;
	
}
.top-two{
	float:right;
	width:350px;
	height:20px;
	background:#ebebeb;
	margin-top:8px;
	word-spacing:50px;
	letter-spacing:2px;
	margin-right:97px;
	color:#222;
	font-size:14px;
}

.top-two em{
	color:#1c58d6;
}
.top a:link,a:visited{
	font-size:14px;
	color:#222;
	text-decoration: none;
	
}
.top a:hover{
	font-size:14px;
	color:#1065A5;
	text-decoration: none;
}

/*第二部分*/
.logo{
	background:#222;
	width:1290px;
	height:110px;
	margin:auto;
	overflow:hidden;
}
.logo-one{
	background:url("../images/logo.jpg") no-repeat;
	width:658px;
	height:67px;
	margin-left:87px;
	margin-top:22px;
	float:left;
}

/*第三部分*/
.nav{
	background:#222;
	width:1203px;
	height:50px;
	margin:auto;
	padding-left:87px;
}
.nav ul{
	list-style-type:none;
	font-size:20px;
}
.nav li{
	float:left;
}
.nav li a{
	display:block;
	text-decoration:none;
	margin-top:0px;
	margin-right:80px;
	padding:13px 15px 0px 15px;
	height:37px;
	
}

.nav li a:link,.nav li a:visited{
	background:#222;
	color:#fbfcfd;
}
.nav li a:hover{
	background:#1065a5;
	color:#fbfcfd;
}


/*Banner部分*/

.banner{
	background:url("../images/banner.jpg") no-repeat;
	margin:auto;
	width:1290px;
	height:467px;
}

/*底部黑色控制轮播部分*/
/*
.bottom-control{
	width:1290px;
	height:30px;
	background:#222;
	margin:auto;
}

*/

/*教学楼部分*/
.college{
	width:1290px;
	background:#fff;
	margin:auto;
}

.college-top{
	width:1203px;
	height:45px;
	background:#474747;
	color:#f7f5f5;
	padding-left:87px;
	padding-top:15px;
	
}

.college-content{
	width:1290px;
	background:#fafafa;
	overflow:hidden;
}

.cc-content{
	width:256px;
	height:200px;
	background:#fafafa;
	margin:40px 87px;
	text-align:center;
	word-spacing:30px;
	float:left;
}

.c-word{
	display:block;
	float:left;
	margin-left:60px;
}
.cc-pic{
	width:256px;
	height:174px;
	background:#eee;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	border-bottom:2px solid #999;
	
}
.cc-content a:link,.cc-content a:visited,.cc-content a:hover{
	text-decoration:none;
}

.cc-content a:link,.cc-content a:visited,.cc-content a:hover{
	color:#0760ba;
}
.cc-pic a:link,.cc-pic a:visited{
	color:#706e6e;
}
.cc-pic a:hover{
	color:#0760ba;
}


/*底部查询部分*/
.query{
	width:1290px;
	background:#fafafa;
	margin:auto;
}


#q-button{
	height:45px;
	width:90px;
	background:#0A929A;
	font-family:'\9ED1\4F53','\5B8B\4F53','\6977\4F53',' \5FAE\8F6F\96C5\9ED1',Arial,Sans-Serif;
	font-size:20px;
	color:#FFF;
}
.q-top{
	width:1290px;
	height:60px;
	background:#222;
}
span{
	color:#FFFFFF;
	margin-left:80px;
}

#query-text{
	height:30px;
	width:200px;
	font-size:16px;
	color:black;
	padding-left:5px;
	margin-left:5px;
	margin-top:15px;
}

/*显示查询结果样式*/
.q-result{
	width:1250px;
	height:40px;
	background:#fff;
	font-size:28px;
	background:#fafafa;
	text-align:left;
	padding:10px 20px;
}

/*结果项样式*/

.q-table{
	width:1290px;
	font-size:15px;
	color:#000;
	
}
#result-name{
	color:#FFF;
	font-size:16px;
}

#book-button a:link,#book-button a:visited{
	text-decoration:none;
	color:#FFF;
}

#book-button a:hover{
	text-decoration:none;
	color:#000;
}
.footer{
	width:1290px;
	height:30px;
	margin-left:auto;
	margin-top:50px;
	margin-right:auto;
	//background:#fafafa;
	color:#929090;
	font-size:12px;
	text-align:center;
}