.manual-main{
	width:1290px;
	height:667px;
	background:#FAFAFA;
	font-size:14px;
	margin:auto;
}
.manual-content{
	width:1290px;
	height:587px;
	background:#FAFAFA;
}

.manual-info{
	width:830px;
	height:400px;
	border:1px solid gold;
	border-radius:20px;
	margin-top:80px;
	margin-left:200px;
	padding:50px 30px;
	line-height:30px;
	font-family:'\9ED1\4F53','\5B8B\4F53','\6977\4F53',' \5FAE\8F6F\96C5\9ED1';
}