<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
		<title>使用手册</title>
		<link rel="shortcut icon" href="../images/favicon.ico" />
		<link rel = "stylesheet" href = "../style/manual.css" />
		<link rel = "stylesheet" href = "../style/public.css" />
	</head>
</body>
	<div class = "manual-main">
	
		<div class = "public-top">
			<div class = "public-top-one">
				<img src = "../images/p_logo.gif" />
			</div>
			
			<div class = "public-top-two">
			<!--	<em>您好，欢迎使用HBL空闲课室预约系统</em>
				
				<em><a href = "#" target = "_blank" title = "index">首页</a></em>
				<em><a href = "#" target = "_blank" title = "help">使用手册</a></em>
			-->
			</div>
		</div>
		
		<div class = "manual-content">
			<div class = "manual-info">
				<p>1、系统账号和密码由系统管理员统一制定，系统不提供用户自行注册系统账号功能。</p>
				<p>2、个人信息由系统管理员录入，且用户不能修改。若有错误请联系系统管理员进行修改。</p>
				<p>3、一个账号一天只能允许预订一间课室。</p>
				<p>4、可以提前五天预约课室，在未到预约时间前可以到个人中心退订。</p>
				<p>5、查询课室至少需要选择教学楼名称和教学楼编号。</p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p>11、若发现有用户滥用账号预约课室，造成公共资源浪费，请及时联系管理员18316022329进行举报。</p>
				
			</div>
		</div>
		
		<div class = "footer">
			<p>&copy;2015 HBL All Rights Reserverd</p>
		</div>
	</div>
</body>
</html>