<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
		<title>用户管理</title>
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel = "stylesheet" href = "style/all-user.css" />
		<link rel = "stylesheet" href ="style/public.css" />
	</head>
<body>
	<div class = "user-management">
		
		<div class = "public-top">
		
			<div class = "public-top-one">
			</div>
			
			<div class = "public-top-two">
				<em>您好，欢迎使用HBL空闲课室预约系统</em>
				<em><a href = "index.php"  title = "首页">首页</a></em>
				<em><a href = "student.php?act=manul" target = "_blank" title = "使用手册">使用手册</a></em>
			</div>
		</div>
		
		<div class = "user-management-content">
		
			<div class = "query">
				<div class = "query-condition">
					<form action = "teacher.php?act=edit" method = "post">
						<input type = "hidden" name = "act" value = "query" />
						<span>学院：<input type = "text" name = "tea_coll_name" maxlength = "20" size = "20" id = "query-input" /></span>
						<span>部门：<input type = "text" name = "tea_department" maxlength = "20" size = "20" id = "query-input" /></span>
						<span>学号：<input type = "text" name = "tea_num" maxlength = "20" size = "20" id = "query-input" /></span>
						<span><input type = "submit" name = "submit" value = "查询" id = "query-submit" /></span>
					</form>
				</div>
				
				<div class = "query-list">
					<span id = "query-list"><a href = "teacher.php?act=edit" title = "all teacher">教师列表</a></span>
					<span id = "query-list"><a href = "teacher.php?act=add" title = "all teacher">添加教师</a></span>
				</div>
			</div>
			
			<div class = "result">
				<table width = "100%" cellpadding = "5" cellspacing = "1">
					
					<tr>
						<th>序号</th>
						<th>工号</th>
						<th>姓名</th>
						<th>性别</th>
						<th>学院</th>
						<th>部门</th>
					</tr>
					
					<?php 
						$i = 0;
						foreach($teacherInfo as $teacherinfos):?>
					<tr align = "center" bgcolor = "#FAFAFA">
						<td><?php echo ++$i ;?></td>
						<td><?php echo $teacherinfos['tea_num']; ?></td>
						<td><?php echo $teacherinfos['tea_name'] ; ?></td>
						<td>
							<?php 
								if($teacherinfos['tea_sex']=='m'){ 
									echo '男';
								}else{
									echo '女';
								}
							?>
						</td>
						<td><?php echo $teacherinfos['tea_coll_name']; ?></td>
						<td><?php echo $teacherinfos['tea_department']; ?></td>
						<td id = "result-td" bgcolor = "#0A929E" width = "8%">
							<a href = "student.php?act=edit-user&id=<?php echo $teacherinfos['tea_id'];?>" title = "edit">编辑</a>
							<a href = "student.php?act=delete-user&id=<?php echo $teacherinfos['tea_id'];?>" title = "edit" onclick="return confirm('你确定要删除<?php echo $teacherinfos['tea_name']; ?>吗？');">删除</a>
						</td>
					</tr>
					<?php endforeach; ?>
				</table>
			
			</div>
			
		</div>
		
		<div class = "footer">
			<p>&copy;2015 HBL All Rights Reserverd</p>
		</div>
		
	</div>
</body>
</html>